Write a class that generates fake data.

* Write the code under the py docs ( do NOT remove py docs )
* Before comitting do a Restart & Run All

In [5]:
import pandas as pd 
from faker import Faker
import random
import numpy as np
fake=Faker() 
        
class FakeDataGenerator:
    
    def __init__(self, df = None, rows=5):
        """
        This class generates fake data
        
        If data frame is passed in it will add the fake data to it. 
        Otherwise, it will create a new data frame
        
        Parameters:
        -----------
        df: 
          DataFrame default is None
          
        rows:
          If df None, this parameter will be used to create a data frame with `row` lenght
        """
        # code goes under this line. 
        # I will deduct points if any code is written above the comments!
        
        self.df = pd.DataFrame (columns= []) 

        self.rows = rows
        
        
        
    def add_random_number(self, column_name, small_value, high_value): # optional: add probabilities 
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """       
        self.column_name= column_name
        self.small_value= small_value
        self.high_value = high_value

        self.df[column_name]= np.random.randint(small_value, high_value, size=self.rows)

        
        return self.df       
    
        
    def add_name(self, first_name):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.first_name = first_name
        self.df[first_name] = [fake.first_name() for i in range (0, self.rows)]
        
        return self.df
    
    
    def add_last_name(self, last_name):
        """
        adds fake last name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.last_name = last_name

        self.df[last_name] = [fake.last_name() for i in range (0, self.rows)]
        
        return self.df
    
    
    def add_email(self, email):
        """
        adds fake email to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """

        self.email = email 
        self.df[email] = [fake.email() for i in range (self.rows)]
        
        return self.df
    
    
    def add_phone_number(self, phone_number):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.phone_number = phone_number

        self.df[phone_number] = [fake.phone_number() for i in range (0, self.rows)]
        return self.df
    
    
    def add_address(self, address):
        """
        adds fake name to the data frame with `column_name`
        
        Returns
        -------
        data frame
        """
        self.address = address
        self.df[address] = [fake.address() for i in range (0, self.rows)]
        return self.df

In [16]:
# mario = FakeDataGenerator()

# mario.add_random_number('number_of_kids', 0,7)
# mario.add_email('email')
# mario.add_name('first_name')
# mario.add_last_name('last_name')
# mario.add_address('address')
# mario.add_phone_number('phone_number')

In [18]:
# mario.df.columns

Index(['number_of_kids', 'email', 'first_name', 'last_name', 'address',
       'phone_number'],
      dtype='object')

In [19]:
FakeDataGenerator(5)

In [20]:
FakeDataGenerator(rows=5)

In [21]:
import pandas as pd

# Case 1 - existing data frame 
df = pd.DataFrame()
df['product_id'] = [i + 123 for i in range(25)]
df.head()

   product_id
0         123
1         124
2         125
3         126
4         127

In [22]:
fakeGen = FakeDataGenerator(df) # I'm creating instance using existing df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')

,shipping_address,billing_address,customer_phone
0,"00093 Shawn Estates Apt. 821\nRhondastad, MS 4...","5888 Villarreal Green\nFloresland, HI 54027",7725773812
1,"1118 Wong Station\nLake Stephen, CA 47550","380 Vaughn Stravenue\nCaitlinfurt, DC 78558",001-229-955-2188x83179
2,"825 Anne Inlet Suite 988\nWest Laurieberg, CA ...","999 Wilson Heights\nJohnsonville, AK 73675",996-210-4469
3,"1186 Matthew Pike\nBerrystad, AK 53131","3037 Turner Gateway Apt. 080\nLake Josephport,...",497.258.3597x765
4,"5200 Gillespie Village\nDerekmouth, OR 22536","1082 Richardson River\nJodiport, VT 44376",(207)251-8272x005

In [23]:
# Case 2 - no dataframe

fakeGen = FakeDataGenerator() # no df
fakeGen.add_address('shipping_address')
fakeGen.add_address('billing_address')
fakeGen.add_phone_number('customer_phone')
fakeGen.add_random_number('sale_count', 10, 100)

,shipping_address,billing_address,customer_phone,sale_count
0,"8713 Martin Cape Apt. 139\nPort Rebeccashire, ...","3118 Brent Station Apt. 650\nSouth Sheliastad,...",(833)120-9766,94
1,Unit 6065 Box 5023\nDPO AA 88222,"42350 Chelsea Street\nPort Marilynview, MS 38871",001-584-169-7467x76739,63
2,"19705 Dennis Place\nWest Jackfurt, ID 28191","PSC 6249, Box 4743\nAPO AE 62562",535-395-4524x75686,31
3,"PSC 5898, Box 8972\nAPO AE 39031","7307 Warren Loaf Apt. 698\nJacksonshire, MT 26603",(900)284-2154x7493,30
4,Unit 3007 Box 2097\nDPO AP 08987,"247 Heather Fall Apt. 034\nTimothyland, VA 85256",577-003-4341x24589,63

In [24]:
df.columns

Index(['product_id'], dtype='object')